body{
    background-color: black;
    margin-top: 50px;
    margin-left: 50px;
}
h1{
    color:aliceblue;
    font-size: 50px;
    font-weight: 100;
}
p{
    color:white;
    font-size: 20px;
}
.error{
    color: red;
}

hr {
    border: none;
    border-top: 1px solid lightgrey;
    margin: 20px 0;
    width: 13% !important;
}
button[id="Clear"]{
    background-color: black;
    color: white;
    border: 1px solid #fff;
}    
button{
    padding: 12px 32px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid #fff;
    background-color: #fff;
    color: #000;
    transition: all 0.3s ease;
}
.buttons {
    display: flex;
    gap: 15px;
}